@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Josefin Sans', cursive;
    position: relative
}

h1 {
    font-family: 'Oswald', cursive;
}

.rsis-image {
    border-radius: 8px 8px 0 0
}

.rsis-containery {
    border-radius: 8px 8px 0 0
}
